body{
    margin: 0;
    font-family: 'Poppins', sans-serif;    
}
#hero{
    background-image: linear-gradient(to bottom, #f7efe5, #f7eada, #f7e5d0, #f6e0c5, #f6dbbb);
}
.column{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100vh;
}
.binary{
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-h1{
    margin: 10px;
    color: #872341;
    font-size: 65px;
    font-family: 'Sacramento', cursive;
    margin: 0px;
}
.hero-h2{
    margin: 10px;
    color: #940B92;
    font-size: 39px;
    margin: 0px;
}
.goodbye{
    margin-top: 30px;
}
.computer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
#about{
    background-image: linear-gradient(to bottom, #f6dbbb, #f8e3c9, #faebd8, #fcf3e6, #fffbf5);
}
.container-about{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100vh;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile-photo:hover{
    transition: .2s;
    box-shadow: 0 0 10px #fff, 0 0 15px #000000;
}
.click{
    align-self: end;
}
.key{
    align-self: self-start;
    
}
.about-p{
    font-family: 'Mulish', sans-serif;
}
#skills{
    background-image: linear-gradient(to bottom, #fffbf5, #fdf5ea, #fbefdf, #fae9d4, #f8e3c9, #f8e3c9, #f8e3c9, #f8e3c9, #fae9d4, #fbefdf, #fdf5ea, #fffbf5);
}
.container-skills{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 10vh 30vh 20vh;
}
.skills-text{
    grid-area: 1/1/2/3 ;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
}
.skills-p{
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    margin:0;
    color: #7743DB;
}
.tindog-img{
    margin-right: 20px;
    display: flex;
    justify-content: end;
}
.project-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Mulish', sans-serif ;
    color: #940B92;
}
#contact{
    background-image: linear-gradient(to bottom, #fffbf5, #ffdfd1, #ffc0c9, #f4a6de, #ac9fff);
    height: 50vh;
}
.container-contact{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 15vh 20vh;
}
.contact-h2{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0;
}
.contact-h3{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 0;
}
.link-img{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 0;
}
.hover{
    border-radius: 50%;
}
.hover:hover{
    margin: 0;
    transform: scale(1.2);
    box-shadow: 0 0 10px #4b0b0b;
    transition: .25s;
}
@media(max-width:900px){
    *{
        margin: 0;
        padding: 0;
    }
.binary{
    height: 150px !important;
}
.column{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30vh 40vh 30vh
}
.hero-text{
    display: flex;
    justify-content: none;
}
.computer-img{
    height: 150px;
    width: 150px;
}
.goodbye{
    height: 50px;
    width: 50px;
}
.hero-h1{
    font-size: 40px;
}
.hero-h2{
    font-size: 20px;
}
.container-about{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40vh 40vh 40vh;
}
#profile-photo{
    height: 150px;
    width: 150px;
}
.about-h2{
    font-size: 30px !important;
    margin-top: 30px;
}
.about-p{
    font-size: 20px  !important;
}
.key{
    display: none;
}
.click{
    display: none;
}
.container-skills{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh 30vh 30vh;
}
.dog{
    height: 150px !important;
}
.tindog-img{
    justify-content: center;
    align-items: end;
    margin-bottom: 36px;
}
.project-text{
    grid-area: 4/1;
    justify-content: start;
}
.skills-p{
    align-items: end;
}
.skills-text>h3{
    text-align: center;
    margin-top: 20px !important;
}
}